<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/style.css"> 
  <title>INFO ABOUT DOGS</title>
</head>
<body>
  <div class="container">
    <h1>Funny Memes of Dogs</h1>
    <form action="/facts" id="form" class="form" method="POST">
      <input type="text" name="type" class="form-input" placeholder="Enter a number from 100-599 or 999"> 
      <button type="submit" class="form-submit">Submit</button>
    </form>
    <div id="dogDescription" class="description-box"></div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="/script.js"></script>
</body>
</html>
